#!/bin/bash

echo "Content-type: text/html"
echo ""
echo "<html><head><title>Demo</title></head><body>"
echo "Today is $(date). <br>"
echo "The operating system is <%= node['platform'].capitalize =%> <%= node['os'].capitalize =%> <%= node['platform_version'].capitalize =%> (<%= node['kernel']['name'] =%> <%= node['kernel']['release'] =%>). <br>"
echo "This system's IP is <%= node['ipaddress'] =%>."
echo "</body></html>"
